<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <nav>
    <marquee>contact us on 9874563210</marquee>
    <ul>
      <li><a href="#home">Home</a></li>
    <li><a href="#about">About</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
        </ul>
</nav> 

<section id="img">
  <img src="assets/img2.jpg">
  <div class="centered"><h1 style="color:blue"><i> MyTotal Logistics (India).pvt .Ltd </i></h1></div>

</section>
<br>
<div class="row">
  <div class="col-sm-4">
      <div class="card">
          <div class="card-body">
            <img src="assets/fimage.jpeg" width=90%>
          </div> 
        </div>
  </div>
  <div class="col-sm-4">
      <div class="card">
          <div class="card-body">
            <img src="assets/fimage.jpeg" width=90%>
          </div> 
        </div>
  </div>

  <div class="col-sm-4">
      <div class="card">
          <div class="card-body">
            <img src="assets/fimage.jpeg" width=90% >
          </div> 
        </div>
  </div>

</div>
<br><br>
<div class="row">
  <div class="col-sm-4">
      <div class="card">
          <div class="card-body">
            <img src="assets/fimage.jpeg" width=90%>
          </div> 
        </div>
  </div>
  <div class="col-sm-4">
      <div class="card">
          <div class="card-body">
            <img src="assets/fimage.jpeg" width=90%>
          </div> 
        </div>
  </div>

  <div class="col-sm-4">
      <div class="card">
          <div class="card-body">
            <img src="assets/fimage.jpeg" width=90% >
          </div> 
        </div>
  </div>

</div>


<section id="homepage">
    <h3  id="home">Home</h3>

  <aside>
   <h1>Welcome</h1> 
  </aside>
  <article style="text-align:justify ">
   tyutyeg iufyguyburb uifbhuifbh iubhuddb uifbhuifdhbufg uifgbhufdgb dufibhuidhfbu iufyguyburbfiubhugi
   uihbuigfh iugfbhiufghb iu igufhniguh iugfhnufighn iufghnidufhn iufghnughb ubhugfbhugf iufbhufbhfbh
  </article>
</section>

<section id="aboutpage">
    <h3  id="about">About Us</h3>
  
  <article style="text-align:justify ">
   tyutyeg iufyguyburb uifbhuifbh iubhuddb uifbhuifdhbufg uifgbhufdgb dufibhuidhfbu iufyguyburbfiubhugi
   uihbuigfh iugfbhiufghb iu igufhniguh iugfhnufighn iufghnidufhn iufghnughb ubhugfbhugf iufbhufbhfbh
   fdbhugbh ugfbh fgu bufgbdhf  fgubhufgb udfhbufg udfbhufgbh udfg ieughieur ierugieru euiwgwiue uiewhh
  </article>
</section>
<a href="#contact">
    </a>
<section id="newspage">
    <h3 id="news">News</h3>
  <figure>
  <a href="#home">
  <img src="assets/ima3.jpg" height="100px" width="100px">
    <figcaption>arctic-12_small</figcaption>

  </a>
            </figure>
  <figure>
      <img src="assets/images.jpg" height="100px" width="100px">
    <figcaption>arctic-12_small</figcaption>
  </figure>
  <figure>
      <img src="assets/img2.jpg" height="100px" width="100px">
    <figcaption>arctic-12_small</figcaption>
  </figure>
  <figure>
      <img src="assets/images.jpg" height="100px" width="100px">
    <figcaption>arctic-12_small</figcaption>
  </figure>
  <article style="text-align:justify ">
   tyutyeg iufyguyburb uifbhuifbh iubhuddb uifbhuifdhbufg uifgbhufdgb dufibhuidhfbu iufyguyburbfiubhugi
   uihbuigfh iugfbhiufghb iu igufhniguh iugfhnufighn iufghnidufhn iufghnughb ubhugfbhugf iufbhufbhfbh
   fdbhugbh ugfbh fgu bufgbdhf  fgubhufgb udfhbufg udfbhufgbh udfg ieughieur ierugieru euiwgwiue uiewhh
  </article>
</section>

<section id="clearsection"></section>

<section id="contactpage">
    <h3 id="contact">Contact</h3>
  <form action="#" method="POST">
      <table cellspacing="10px" cellpadding="10px">
        <tr>
          <th>Name</th>
        <td><input type="text" placeholder="Enter Name" class="box" required></td>
      </tr>
      
      <tr>
          <th>Email</th>
        <td><input type="email" placeholder="Enter email" class="box" required></td>
      </tr>
      
      <tr>
          <th>Mobile</th>
        <td><input type="tel" placeholder="Enter Mobile" class="box" required></td>
      </tr>
      
      <tr>
          <th>Message</th>
        <td><textarea placeholder="Enter Message" class="box" required></textarea></td>
      </tr>
      
      <tr>
          <td colspan="2" >
        <button type="submit" id="btn1">Send</button>
        <button type="reset" id="btn2">Clear</button>
        </td>
                </tr>
      
    </table>
  </form>
</section>

<footer >
  <table>
      <tr>
          <th>About</th>
          <th>OtherLinks</th>
          <th>Our Objective</th>
          <th>our mission</th>
        </tr>
        <tr cellspacing="10px" cellpadding="10px">
          <td><p>hhdf hdfhv hdvfsh </p></td>
          <td><a href="#contact">Terms of Use</a></td>
          <td>asdefcd</td>
          <td>aswedrfg</td>
        </tr>
  </table>
      
      
</footer>


<router-outlet></router-outlet>
